head {
    color: darkorange;
}

a:link {color: lawngreen;}


body {
    background-color: dimgrey;
}

nav {background-color: lawngreen;}
nav a {color: orange;}
nav a:hover {color: royalblue;}
nav {padding: 10px;}
nav {margin-bottom: 30px;}